@import './publicStyleData.scss'; //第一个导入
@import './sidebar.scss';
@import './navbar.scss';



html {
  height: 100%;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  padding: inherit;
  margin: inherit;
  box-sizing: inherit;
}


body {
    margin: 0px;
    width:100%;
    font-size: 10px;
    font-family:Helvetica,"Segeo UI",Tahoma,Arial,"\5b8b\4f53",sans-serif;
    height: 100%;
    
  }


#app {
    height: 100%;
}
.app-wrapper {
  height: 100%;
}

// .element::-webkit-scrollbar { width: 0 !important }
::-webkit-scrollbar {
  display:none;
}

