
$sideTextColor: #bfcbd9;
$active-text-color:#409EFF;

$menuBg:#304156;
$menuHover:#263445;

// 下级菜单的属性
$subMenuBg:#1f2d3d;
$subMenuHover:#001528;


$sideBarWidth:210px;

// $maintableheight: 

:export {
    menuBg: $menuBg;
    activeTextColor:$active-text-color;
    sideTextColor:$sideTextColor;
    menuHover:$menuHover;
    subMenuHover:$subMenuHover;
    sideBarWidth:$sideBarWidth;

}